<!DOCTYPE html>
<html>
<head>
    <title>Detalle del Carrito</title>
</head>
<body>
    <h2>Detalle del Carrito</h2>
    <div class="cart-details">
        <h3>Carrito ID: {{cart._id}}</h3>
        <ul>
            {{#each cart.products}}
                <li>{{this.productId.title}} - Cantidad: {{this.quantity}}</li>
            {{/each}}
        </ul>
    </div>
</body>
</html>


