<!DOCTYPE html>
<html>
<head>
    <title>Detalle del Carrito</title>
</head>
<body>
    <h2>Detalle del Carrito</h2>
    <div class="cart-details">
        <h3>Carrito ID: {{_id}}</h3>
        <ul>
            {{#each products}}
    <li>{{this.productId.title}} - Cantidad: {{quantity}}</li>
{{/each}}

            
        </ul>
    </div>
</body>
</html>


